<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>drew's site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">home</a>
                    </li>
                    <li role="presentation"><a href="#">another home</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">not home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">drew's site</h3>
        </div>
        <div class="jumbotron">
            <h1>wanna play a game?</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showMemoryGame" role="button">game</a>
            </p>
        </div>
    </div>
</body>
</html>
